.Calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.Calculator-logo {
  grid-column: 1 / span 1;
  height: 2rem;
}

.Calculator-display {
  grid-column: 1 / span 4;
  border-radius: 16px;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.Calculator-button {
  aspect-ratio: 1;
  appearance: none;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  background-color: lightblue;
  background-image: linear-gradient(lightblue, turquoise);
  color: black;
  cursor: pointer;
  font-size: 2rem;
}

.Calculator-button:last-child {
  aspect-ratio: 4 / 1;
  grid-column: 1 / span 4;
  grid-row: span 1;
}

.Calculator-button--active {
  background-color: rgba(255, 255, 255, 0.25);
  background-image: none;
  color: white;
}

